<div class="jumbotron mt-5 bg-light border border-success">
  <h1>
    <img src="assets/images/logo.svg" alt="golf ball next to a red flag on the green" width="96px" height="96px" class="d-inline-block align-middle" />
    Golf Scoring System
  </h1>
  <p class="lead">An interface for keeping track of all your golf scoring needs.</p>
  <hr class="my-4 bg-success">
  <p>Start a new game or continue</p>
  <a class="btn btn-primary btn-lg mr-2" href="#" role="button">New</a>
  <a class="btn btn-primary btn-lg" href="#" role="button">Continue</a>
</div>